@font-face {
    font-display: swap; 
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/librebaskervillev14latinregular.woff2") format("woff2"), 
         url("../fonts/librebaskervillev14latinregular.woff") format("woff"); 
  }
  @font-face {
    font-display: swap; 
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/librebaskervillev14latin700.woff2") format("woff2"), 
         url("../fonts/librebaskervillev14latin700.woff") format("woff"); 
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.visually-hidden {
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 ,0 ,0 ,0);
    overflow: hidden;
}
body {
    font-family: "Libre Baskerville";
}
.container {
    width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

/* header started  */
.site-header {
    padding-top: 40px;
    padding-bottom: 40px;
}
.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #e5e5e5;
}
.navbar-decs {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 2.57143px;
    color: #7d7d7d;
}


/* main started  */
.site-hero {
    padding-bottom: 40px;
}
.wrapper {
    display: grid;
    grid-template: repeat(7, 200px) / repeat(4, 310px) ;
    gap: 40px;
}
.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 33px;
    padding-left: 32px;
}
.grid-item:nth-child(1) {
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%) , url(../images/hero/firs.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.grid-item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%) , url(../images/hero/second.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.grid-item:nth-child(3) {
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%) , url(../images/hero/third.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.grid-item:nth-child(4) {
    grid-column: 4 / 5 ;
    grid-row: 1 / 3 ;
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%) , url(../images/hero/four.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.grid-item:nth-child(5) {
    grid-column: 1 / 2 ;
    grid-row: 2 / 4 ;
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%) , url(../images/hero/five.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.grid-item:nth-child(6) {
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%) , url(../images/hero/six.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.grid-item:nth-child(7) {
    grid-column: 3 / 4 ;
    grid-row: 2 / 5 ;
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%) , url(../images/hero/seven.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.grid-item:nth-child(8) {
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%) , url(../images/hero/eight.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.grid-item:nth-child(9) {
    grid-column: 1 / 2 ;
    grid-row: 4 / 7 ;
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%) , url(../images/hero/nine.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.grid-item:nth-child(10) {
    grid-column: 2 / 3 ;
    grid-row: 4 / 6 ;
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%) , url(../images/hero/ten.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.grid-item:nth-child(11) {
    grid-column: 3 / 4 ;
    grid-row: 5 / 7 ;
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%) , url(../images/hero/el.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.grid-item:nth-child(12) {
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%) , url(../images/hero/twelw.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.grid-item:nth-child(13) {
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%) , url(../images/hero/thirteen.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.grid-item:nth-child(14) {
    grid-column: 2 / 3 ;
    grid-row: 6 / 8 ;
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%) , url(../images/hero/fouteen.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.grid-item:nth-child(15) {
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%) , url(../images/hero/eight.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.grid-item:nth-child(16) {
    grid-column: 4 / 5 ;
    grid-row: 5 / 8 ;
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%) , url(../images/hero/last.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
}
.item-desc {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    mix-blend-mode: normal;
    opacity: 0.75;
}
